@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #03002b;
    color: #fff;
    line-height: 1.7;
    font-size: 1rem;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5em;
    text-align: center;
    color: cyan;
    border-bottom: 3px solid red;
    font-weight: bold;
    font-size: 1.4em;
}

h1, h2, h3 {
    color: cyan;
    margin-bottom: 0.6em;
}

h4 {
    color: #a0f7ff;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    font-size: 1.1em;
    border-bottom: 1px dashed #00ffff;
    display: inline-block;
    padding-bottom: 0.2em;
}

.miPerfil {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #0a0a0a;
    border-bottom: 2px solid #00ffff44;
    gap: 1.5em;
}

#fotoPerfil {
    width: 11em;
    height: 11em;
    background-image: url("../img/kevin.jpg");
    background-size: cover;
    background-position: center;
    border: 0.25em solid cyan;
}

.informacionPersonal {
    max-width: 40em;
}

.informacionPersonal span {
    color: #ff80c0;
    font-weight: 600;
}

.laMateria {
    background-color: #111;
    padding: 2em;
    margin: 2em 1em;
    border-radius: 10px;
    border-left: 5px solid green;
    box-shadow: 0 0 10px #00ff9d33;
}

.laMateria ul {
    margin-left: 1.5em;
}

.guiasEjercicio{
    padding: 2em 1em;
    background-color: #0d0d0d;
}

.misGuias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.guia{
    background-color: #1a1a1a;
    border: .15em solid rgb(158, 1, 1);
    border-radius: 10px;
    padding: 1.5em;
    width: 20em;
    transition: 0.3s;
}

.guia:hover {
    transform: scale(1.04);
    border-color: cyan;
}

.guia a {
    color: cyan;
    text-decoration: none;
    font-weight: 500;
}

.guia a:hover {
    text-decoration: underline;
}

.miFoda {
    background-color: #111;
    padding: 2em 1em;
    border-top: 2px solid #00ffff33;
}

.elFoda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.foda {
    padding: 1.2em;
    border-radius: 1em;
    width: 22%;
    min-width: 15em;
    color: #fff;
    transition: 0.3s;
}   

.foda:hover {
    transform: scale(1.1);
}

.fortalezas { 
    background-color: #004d00; 
}

.oportunidades { 
    background-color: #003366; 
}

.debilidades { 
    background-color: #5c6600; 
}

.amenazas { 
    background-color: #4d0000; 
}

footer {
    text-align: center;
    padding: 1.2em;
    background-color: #111;
    color: #ccc;
    border-top: 3px solid red;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .miPerfil {
        flex-direction: column;
        text-align: center;
    }

    .misGuias, .elFoda {
        flex-direction: column;
        align-items: center;
    }

    .guia, .foda {
        width: 90%;
    }
    
    header {
        font-size: 1.1em;
    }
}